* {
    margin: 0;
    padding: 0;
    scroll-behavior: auto;
    box-sizing: border-box;
}


.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: black;
    color: white;
    height: 500px;
    width: 500px;
}